@using ZX.Tools
@{
    ViewBag.Title = "待办-指效";
}

<nav id='menu'>
    <ul class='nav'>
        <li class='active' style="height:41px;">
        </li>
    </ul>
</nav>
<nav id='menu'>
    <ul class='nav'>
        <li class='active'>
            <a href='javascript:;' onclick="ApprovalTasks(1);">日历</a>
        </li>
        <li>
            <a href='javascript:;' onclick="ApprovalTasks(2);">所有</a>
        </li>
        <li>
            <a href='javascript:;' onclick="ApprovalTasks(3);">指派他人</a>
        </li>
        <li class='active'>
            <a href='javascript:;' onclick="ApprovalTasks(4);">指派给我</a>
        </li>
        <li>
            <a href='javascript:;' onclick="ApprovalTasks(5);">未完成</a>
        </li>
        <li>
            <a href='javascript:;' onclick="ApprovalTasks(6);">待定</a>
        </li>
    </ul>
</nav>
<div class='row page-content with-menu'>
    <div class='panel'>
        <div class="panel-heading">
            <strong><i class="icon-group"></i>待办</strong>
        </div>
        <div class="panel-body">
            <div>
                <fieldset>
                    <legend>查询条件</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail3">日期</label>
                            <input type="text" class="form-control" id="StartDate" placeholder="开始日期" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="width:90px;" />
                            至
                            <input type="text" class="form-control" id="EndDate" placeholder="结束日期" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\');}',dateFmt:'yyyy-MM-dd'})" style="width:90px;" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputInviteCode3">状态</label>
                            <select id="status" class="form-control">
                                <option value="-1">==全部==</option>
                                <option value="@ApplyStatus.新申请.ToInt()">@ApplyStatus.新申请.ToString()</option>
                                <option value="@ApplyStatus.审核中.ToInt()">@ApplyStatus.审核中.ToString()</option>
                                <option value="@ApplyStatus.已审核.ToInt()">@ApplyStatus.已审核.ToString()</option>
                                <option value="@ApplyStatus.驳回.ToInt()">@ApplyStatus.驳回.ToString()</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">事由</label>
                            <input type="text" class="form-control" id="adesc" placeholder="事由" style="width:150px;" />
                        </div>
                        <button type="button" class="btn btn-default" id="btnSearch">查询</button>
                    </div>
                </fieldset>
            </div>
            <table class='table table-hover table-striped table-bordered tablesorter table-data table-fixed' style="border: 1px solid #ddd;">
                <thead>
                    <tr class='text-center'>
                        <th class='w-60px'>序号</th>
                        <th class='text-left'>日期</th>
                        <th class='text-left w-90px'>类型</th>
                        <th class='text-left w-90px'>优先级</th>
                        <th class='text-left w-80px'>名称</th>
                        <th class='text-left w-90px'>指派给</th>
                        <th class='text-left w-90px'>开始时间</th>
                        <th class='text-left w-200px'>结束时间</th>
                        <th class='text-left w-90px'>状态</th>
                        <th class='text-left w-240px'>操作</th>
                    </tr>
                </thead>
                <tbody id="tbList"></tbody>
            </table>
        </div>
        <div class='table-footer' style="border-top:1px solid #ddd;">
            <div class='pull-left text-danger'></div>
            <div style='float:right; clear:none;' class='pager form-inline'>
                <div id="myPager"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        getList();
        $("#btnSearch").click(function () {
            pageIndex = 1;
            getList();
        });
    });
    function add() {
        win.open("/My_Agenda/addedit", 500, 500, "新增");
    }
    function edit(id) {
        win.open("/My_Agenda/My_AgendaEdit/" + id, 720, 500, "编辑");
    }
    function del(id) {
        win.confirm("确认要删除吗?", function () {
            $.post("/My_Agenda/deletedata", { id: id }, function (data) {
                if (data.Code == 200) {
                    getList();
                    win.success("删除成功");
                } else {
                    win.alert("删除失败");
                }
            });
        });
    }
    var pageIndex = 1, pageSize = 10, count = 0;
    function getList() {
        win.showLoading();
        var beginTime = $("#StartDate").val();
        var endTime = $("#EndDate").val();
        var status = $("#status").val();
        var adesc = $("#adesc").val();
        $.post("/My_Agenda/GetMy_AgendaList", {
            pageIndex: pageIndex,
            pageSize: pageSize,
            beginTime: beginTime,
            endTime: endTime,
            status: status,
            adesc: adesc
        }, function (data) {
            win.hideLoading();
            if (data.Code == 200) {
                $("#tbList").html(data.Data);
                count = data.TotalCount;
                initPage();
            } else {
                win.alert("获取数据失败");
            }
        });
    }

    function initPage() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'myPager'
                , limit: pageSize
                , curr: pageIndex
                , count: count
                , theme: '#1E9FFF'
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , jump: function (obj, first) {
                    if (!first) {
                        pageIndex = obj.curr;
                        pageSize = obj.limit;
                        getList();
                    }
                }
            });
        });
    }
</script>