@using ZX.Tools
@using ZX.Model
@{
    ViewBag.Title = "考勤统计-指效";
}
<link href="~/Static/styles/bootstrap.min.css" rel="stylesheet" />
<link href="~/Static/js/layui/css/layui.css" rel="stylesheet" />
<link href="~/Static/js/layer/need/layer.css" rel="stylesheet" />
<link href="~/Static/js/Validform/css/style.css" rel="stylesheet" />
<link href="~/Static/js/datetimepicker/datetimepicker.min.css" rel="stylesheet" />
<script src="/Static/js/jquery/jquery-1.11.1.min.js"></script>
<script src="~/Static/js/jquery/form/min.js"></script>
<script src="~/Static/js/Validform/js/Validform_v5.3.2_min.js"></script>
<script src="~/Static/js/layer/layer.js"></script>
<script src="~/Static/js/layer/layer.tools.js"></script>
<script src="~/Static/js/layui/layui.js"></script>
<script src="~/Static/js/ajaxfileupload.js"></script>
<script src="~/Static/res/My97DatePicker/WdatePicker.js"></script>
<script src="~/Static/js/datetimepicker/datetimepicker.min.js"></script>
<style>
    .top-navbar-index {
        position: inherit;
        width: 100%;
        margin-bottom: 0;
    }

    .with-menu {
        padding: 20px;
    }

    .cur {
        float: left;
    }
</style>
@Html.Raw(ViewBag.SysAdminMainNavbar)
<nav id='menu'>
    <ul class='nav'>
        <li class='cur'>
            <a href='/My_Attendance/Index?mid=@ViewBag.CurrentMid'>@MyAttendanceType.内部考勤</a>
        </li>
        <li class='cur'>
            <a href='/My_Attendance_Out/Index?mid=@ViewBag.CurrentMid'>@MyAttendanceType.外出考勤</a>
        </li>
        <li class='cur'>
            <a href='/AttendanceCount/Index?mid=@ViewBag.CurrentMid'>@MyAttendanceType.考勤统计</a>
        </li>
        <li class='cur'>
            <a href='/AttendanceTime/Index?mid=@ViewBag.CurrentMid'>@MyAttendanceType.考勤设置</a>
        </li>
    </ul>
</nav>
<input type="hidden" id="currentMid" value="@ViewBag.CurrentMid">
<input type="hidden" id="secondMenuId" name="secondMenuId" value="@ViewBag.SecondMenuId" />

<div style="display: none;">
    <input type="file" id="fileOrganReport12" multiple="multiple" name="fileOrganReport12_upload" onchange="OnChangeUpload()" />
</div>

<div id='menuActions'>
    @Html.Raw(ViewBag.CurrentBtnList32)
</div>
<div class='with-menu'>
    <div>
        <div class='panel'>
            <div class='panel-heading'>
                <strong><i class='icon-list-ul'></i> 考勤统计</strong>
            </div>
            <div id='menuActions'>
                @Html.Raw(ViewBag.CurrentBtnList32)
            </div>
            <form action="OutExcel" id="doForm">
                <fieldset>
                    <legend>查询条件</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            姓名:
                            <input type="text" id="txtRealname" name="key" value="" class="form-control" />
                            <label for="exampleInputEmail3">日期</label>
                            <input type="text" class="form-control" id="StartTime" name="startTime" placeholder="如2018年8月" />
                        </div>
                        <button type="button" class="btn btn-default" id="btnSearch">查询</button>
                        <div style="width:auto;float:right;">
                            <a href='javascript:;' onclick="importExcel()" class="btn btn-primary">导入Excel</a>
                            <a href='javascript:;' onclick="exportExcel()" class="btn btn-primary">导出Excel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
            <table class='layui-table' style="border: 1px solid #ddd;" id='docList'>
                <thead>
                    <tr class='text-center'>
                        <th class='w-50px'>
                            <div>
                                序号
                            </div>
                        </th>
                        <th class='w-100px'>
                            <div>
                                姓名
                            </div>
                        </th>
                        <th class='w-100px'>
                            <div>
                                迟到次数
                            </div>
                        </th>
                        <th class='w-100px'>
                            <div>
                                早退次数
                            </div>
                        </th>
                        <th class='w-100px'>
                            <div>
                                请假次数
                            </div>
                        </th>
                        <th class='w-100px'>
                            <div>
                                旷工次数
                            </div>
                        </th>
                        <th class='w-100px visible-lg'>
                            <div>
                                公差次数
                            </div>
                        </th>
                        <th class='w-100px visible-lg'>
                            <div>
                                外出考勤次数
                            </div>
                        </th>
                        <th class='w-100px visible-lg'>
                            <div>
                                应出勤天数
                            </div>
                        </th>
                        <th class='w-100px visible-lg'>
                            <div>
                                实际出勤次数
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="tbList"></tbody>
            </table>
            <div class='table-footer' style="border-top:1px solid #ddd;">
                <div class='pull-left text-danger'></div>
                <div style='float:right; clear:none;' class='pager form-inline'>
                    <div id="myPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        getList();
        $("#btnSearch").click(function () {
            pageIndex = 1;
            getList();
        });
    });

    var pageIndex = 1, pageSize = 10, count = 0;
    function getList() {
        win.showLoading();
        var beginTime = $("#StartTime").val();

        $.post("/AttendanceCount/GetMy_AttendanceCountList", {
            pageIndex: pageIndex,
            pageSize: pageSize,
            startTime: beginTime,
            key: $("#txtRealname").val()
        }, function (data) {
            win.hideLoading();
            if (data.Code == 200) {
                $("#tbList").html(data.Data);
                count = data.TotalCount;
                initPage();
                win.hideLoading();
            } else {
                win.alert("获取数据失败");
            }
        });
    }

    function initPage() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'myPager'
                , limit: pageSize
                , curr: pageIndex
                , count: count
                , theme: '#1E9FFF'
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , jump: function (obj, first) {
                    if (!first) {
                        pageIndex = obj.curr;
                        pageSize = obj.limit;
                        getList();
                    }
                }
            });
        });
    }

    function importExcel() {
        win.showLoading("正在导入...")
        $("#fileOrganReport12").click();
    }
    //上传文件
    function OnChangeUpload() {
        $.ajaxFileUpload
            ({
                url: '/AttendanceCount/ImportReport',
                secureuri: false,
                fileElementId: 'fileOrganReport12',
                dataType: 'HTML',
                success: function (data, status) {
                    var jsonData = eval("(" + data + ")");
                    if (jsonData.statusCode == 200) {
                        win.success("导入成功");
                    } else {
                        win.alert(jsonData.message);
                    }
                    win.hideLoading();
                },
                error: function (data, status, e) {
                    alert(e);
                    win.hideLoading();
                }

            });
    }

    function exportExcel() {
        $("#doForm").submit();
    }
</script>
